@model ASC.Web.Areas.Accounts.Models.CustomersViewModel
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager;
@{
    Layout = "_SecureLayout";
}

<div class="row"></div>
<div class="row padding-left-20px padding-right-20px">

    <div class="row z-depth-3">
        <div class="section white-text padding-left-10px blue-grey lighten-1">
            <h5>Customers</h5>
        </div>
        <div class="divider"></div>
        <div class="col s12 padding-bottom-15px">
            @if (Model.Customers != null)
            {
                @* Display List of Customers *@
                <table class="highlight centered" id="tblCustomers">
                    <thead>
                        <tr>
                            <th data-field="Email">Email</th>
                            <th data-field="UserName">Name</th>
                            <th data-field="IsActive">Is Active</th>
                            <th data-field="IsActiveImg">Is Active</th>
                            <th data-field="Actions">Edit User</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Customers)
                        {
                            var identity = await UserManager.GetClaimsAsync(user);
                            var isActiveClaim = identity.SingleOrDefault(p => p.Type == "IsActive");
                            var isActive = isActiveClaim != null && Boolean.Parse(isActiveClaim.Value);
                            <tr>
                                <td>@user.Email</td>
                                <td>@user.UserName</td>
                                <td>@isActive</td>
                                <td>
                                    <img src="@(isActive ? "/images/green_tick.png" : "/images/red_cross.png")" alt="Is Active" class="responsive-img" />
                                </td>
                                <td>
                                    <i class="small material-icons edit cursor-hand">
                                        mode_edit
                                    </i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                @* In case of No records, display no records message *@
                <div class="card blue-grey lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">No Customers!!!</span>
                        <p>
                            No Customers found.
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row"></div>

    @* Details Section *@
    <div class="row z-depth-3">
        <div class="col s12 padding-0px">
            <div class="section white-text padding-left-20px blue-grey lighten-1">
                <h5>Customer Details</h5>
            </div>
            <div class="divider"></div>
            <form action="/Accounts/Account/Customers" method="post" class="col s12" id="fromUser">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Registration.IsEdit" />
                <input type="hidden" asp-for="Registration.Email" />
                <div class="input-field col s4">
                    <input asp-for="Registration.Email" id="Input_Registration_Email" />
                    <label asp-for="Registration.Email"></label>
                </div>
                <div class="input-field col s4">
                    <input asp-for="Registration.UserName" class="validate" />
                    <label asp-for="Registration.UserName"></label>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <label>
                            Inactive
                            <input type="checkbox" asp-for="Registration.IsActive">
                            <span class="lever"></span>
                            Active
                        </label>
                    </div>
                </div>
                <div class="input-field col s4 right-align">
                    <button class="btn waves-effect waves-light btnSubmit" type="submit" name="action">
                        Save
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light reset red lighten-1" type="button" name="action">
                        Reset
                    </button>
                </div>
                <div class="row col s12 right-align" asp-validation-summary="All"></div>
            </form>
        </div>
        <div class="row"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            M.AutoInit();

            // Initialize DataTable to show list of Customers
            var table = $('#tblCustomers').DataTable({
                'pageLength': 3,
                // Number of records to be displayed per page
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                'columnDefs': [
                    { 'targets': 2, 'visible': false }
                ]
            });

            // Set Styles for DataTable and Number of Records to be displayed dropdown
            $('#tblCustomers').css("width", "100%");
            $('select[name="tblCustomers_length"]').addClass('browser-default');

            // Handle Reset functionality
            $(document).on("click", ".reset", function () {
                $('#fromUser')[0].reset();
                $('#Input_Registration_Email').removeAttr('disabled');
                $('#Registration_IsActive').removeAttr('disabled');
                $('#Registration_IsEdit').val('False');
                M.updateTextFields();
            });

            // This is required to disable Email field on Server side model validation failure
            if ($('#Registration_IsEdit').val() === 'True') {
                $('#Input_Registration_Email').attr('disabled', 'disabled');
                $('#Registration_IsActive').removeAttr('disabled');
            }

            // On click of Edit icon, populate the details section with details of Customer
            $(document).on('click', '.edit', function () {
                var rowData = table.row($(this).parents('tr')).data();
                var isActiveValue = rowData[2] === 'True';

                $('#Registration_IsEdit').val('True');
                $('#Input_Registration_Email').val(rowData[0]).attr('disabled', 'disabled');
                $('#Registration_UserName').val(rowData[1]).addClass('valid');
                $('#Registration_IsActive').prop('checked', isActiveValue).removeAttr('disabled');

                M.updateTextFields();
            });

            // Set hidden Email field to correct value from UI field
            $(document).on('click', '.btnSubmit', function () {
                $('#Registration_Email').val($('#Input_Registration_Email').val());
            });
        });
    </script>
}